<!-- Comment's file -->

<br>
<!-- <div class="messageStyle">
  <%= @message %>
</div> -->

<div id="comment_box">
  <div id="movieTitle">
      * * * Comments for <%= mt.which_movie %> * * *
  </div>
  <div id="textPost">
    <%= mt.post_text %>
  </div>
  <div id="buttonBox">
      <span id="commAdd">
        <a href="/comments">
        Add Comment
      </a>
      </span>
      <span id="commView">
        <a href="/comments/new">
        View Comment
        </a>
      </span>
  </div>
</div>
<br>
