<!-- Welcome's file -->

<br><br>
<div class="messageStyle">
  <%= @message1 %><br>
  <%= @message2 %>
</div>

<form action="/users/new">
  <input type="submit"  id="button1" value="Register" />
</form>
<form action="/sessions/new">
  <input type="submit"  id="button2" value="Login" />
</form>
