<!-- Posts' file -->

<br>
<div class="messageStyle">
  <%= @message %>
</div><br>


  <% @posts.each do |mt| %>

    <div id="postBox">

      <div id="movieTitle">
          * * * <%= mt.which_movie %> * * * 
      </div>


      <div id="textPost">
        <%= mt.post_text %>
      </div>

    </div>

  <% end %>
